.employer-banner-wrapper {
  height: 500px;
  position: relative;
  width: 100%;
  background-color: #515151;
  margin: 0 auto;
  padding: 100px 0;
}

.employer-banner {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.employer-landing-banner {
  background-image: url(../images/Login_Banner_img_Employer.png);
}

.employer-landing-banner-container {
  margin-top: 2rem;
}

.empr-banner-title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.69;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  padding: 1rem 0;
}

.empr-banner-sub-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  padding: 1rem 3rem;
  color: #666666;
}

.login-form-wrapper {
  display: table-cell;
  width: 50%;
  padding: 2rem 5rem;
  vertical-align: top;
  min-height: 1px;
  position: relative;
}

form.agentAccessLogin--form {
  width: 100%;
  margin: 0 auto;
}

form.agentAccessLogin--form input {
  border-radius: 3px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  margin: 0 auto 7%;
  padding-left: 8px;
  box-sizing: border-box;
  width: 344px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
}

form.agentAccessLogin--form input:focus {
  outline: none !important;
  border-color: #0096d6;
  box-shadow: 0 0 5px #94d9f2;
}

ul.login--links {
  padding: 0rem;
  margin: 2rem -5rem;
}

ul.login--links li {
  display: inline-block;
  list-style: none;
}

ul.login--links li a,
ul.login--links li a:visited {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #0077c0;
  margin: 0 11px;
  text-decoration: none;
}

ul.login--links li a:hover {
  text-decoration: underline;
}

.login-btn-wrapper {
  padding: 0;
}

.login-btn {
  width: 51%;
  height: 4rem;
  border: 0;
  border-radius: 30px;
  background-color: #0077c0;
  color: #ffffff;
  cursor: pointer;
  width: 203px;
  height: 60px;
  border-radius: 30px;
  background-color: #0077c0;
}

.login-btn:hover {
  background: #ffffff;
  color: #0077c0;
  cursor: pointer;
  border: 1px solid #0077c0;
}

.empr-login-grid {
  text-align: center;
}

.empr-cc {
  text-align: center !important;
}

.ctq-wrapper {
  border-radius: 10px;
  margin: 2rem 0rem;
}

.ctq-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  padding: 1rem 2rem;
}
.ctq-content {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  padding: 1rem 2rem;
}
