.footer {
  background: #ffffff;
  text-align: right;
  position: relative;
  border-top: 1px solid #ccc;
  padding: 1.5rem 1.5rem;
}
.footer-grid {
  margin: 0rem -6rem 0 -5rem;
}

.footer .logo img {
  width: 100%;
  height: 40px;
}

.cc {
  text-align: right;
  vertical-align: middle;
  height: 11px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}
